@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Roboto', 'Montserrat', sans-serif;
  scroll-behavior: smooth !important;
  scrollbar-gutter: auto !important; /* This is needed since DaisyUI uses scrollbar-gutter: stable; when modal is open */
}

/* Custom progress bar animation and style */
progress::-webkit-progress-value {
  transition: 0.6s width ease-out;
}

.custom-progress::-webkit-progress-value {
  background-color: var(--progress‐fill);
}

.custom-progress::-moz-progress-bar {
  background-color: var(--progress‐fill);
}

/* Custom layout styles */
@layer base {
  html {
    font-size: 18px;
  }
}
